<%- layout ("/layouts/boilerPlate") -%>

<div class="row mt-3">
    <div class="col-8 offset-3">
        <h3><%= listing.title %></h3>
    </div>

    <div class="card col-6 offset-3 show-card listing-card">
        <div class="card-body">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
            <p class="card-text">

                <p><%= listing.description %></p>
                <p>Price: &#8377; <%= listing.price.toLocaleString('en-IN') %></p>
                <p>Location: <%= listing.location %>, <%= listing.country %></p>
            </p>
        </div>
    </div>
    
    <div class="col-6 offset-3 mt-2">
        <div class="btns d-flex justify-content-start">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark me-2">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>

    <div class="col-6 offset-3 mt-4 mb-4">
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-2">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range">
            </div>

            <div class="mb-3 mt-2">
                <label for="comment" class="form-label">Comments</label>
                <textarea id="comment" name="review[comment]" rows="4" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some comments to review</div>
            </div>
            <button class="btn btn-primary mt-2">Submit Review</button>
        </form>

        <hr>

        <p><b>All reviews</b></p>
        
            <div class="row">
                <% for(review of listing.reviews){ %>
                
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Jack Reacher</h5>
                        <p class="card-text"><%= review.comment%></p>
                        <p class="card-text"><%= review.rating%> stars</p>
                    </div>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="d-inline mb-3">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
                <% }%>
            </div>
                
    </div>

</div>